@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Your ip address is @ViewBag.IpAddress</p>
    <p>Your country is @ViewBag.Country</p>
</div>
